@if(user$ | async; as user) {
    @if(showConfirmationDeleteScoresDialog) {
        <app-confirmation-dialog (cancelo)="onCancelDeleteScoresDialog()" (continueo)="onContinueDeleteScoresDialog()"></app-confirmation-dialog>
    }
    @if(showConfirmationDeleteUserDialog) {
        <app-confirmation-dialog (cancelo)="onCancelDeleteUserDialog()" (continueo)="onContinueDeleteUserDialog()"></app-confirmation-dialog>
    }
    <div class="main">
        <div class="title">
            <h1>Welcome {{(user.nick && !editNick) ? user.nick : ''}}</h1>
            @if(editNick) {
                <span class="input-control">
                    <input placeholder="Enter nick" [(ngModel)]="nickInput"/>
                    <div class="icon">
                        <fa-icon size="lg" [icon]="icons.faXmark" appTooltip [text]="'Cancel'" (click)="changeNickState(false)">
                        </fa-icon>
                    </div>
                    <div class="icon">
                        <fa-icon size="lg" [icon]="icons.faCheck" appTooltip [text]="'Save nick'" (click)="saveNick()">
                        </fa-icon>
                    </div>
                </span>
            }
            @else {
                @if(user.nick) {
                    <div class="icon">
                        <fa-icon size="lg" [icon]="icons.faPen" appTooltip [text]="'Edit nick'" (click)="changeNickState(true)">
                        </fa-icon>
                    </div>
                }
                @else {
                    <div class="icon">
                        <fa-icon size="lg" [icon]="icons.faPlus" appTooltip [text]="'Add nick'" (click)="changeNickState(true)">
                        </fa-icon>
                    </div>
                }
            }
            @if(user.role !== UserRoleEnum.ADMIN) {
                <button class="delete-button delete-user" (click)="deleteAccount()">
                    <fa-icon size="sm" [icon]="icons.faTrash">
                    </fa-icon>
                    Delete your account
                </button>
            }
        </div>

        <div class="scores-container">
            <div class="scores-container-inner">
                <div class="info">
                    <h3>Your email:</h3>
                    <p>{{user.email}}</p>
                </div>
        
                <div class="info">
                    <h3>Your role:</h3>
                    <p>{{user.role}}</p>
                </div>

                <h3>Your scores:</h3>
                <div class="table-container">
                    <div class="table">
                        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="handleSort($event)" class="mat-elevation-z8">
                            <ng-container matColumnDef="gameDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                                <td mat-cell *matCellDef="let element"> {{ mapDate(element.gameDate) | date:'dd.MM.yyyy HH:mm:ss'}} </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="gameTime">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
                                <td mat-cell *matCellDef="let element"> {{(element.gameTime) | timeFormat }} </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="guessedCountries">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Guessed countries </th>
                                <td mat-cell *matCellDef="let element"> {{element.guessedCountries}} </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>        
                        <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="handlePageEvent($event)">
                        </mat-paginator>
                    </div>
                    <button class="delete-button delete-scores" (click)="deleteScoreHistory()">
                        <fa-icon size="sm" [icon]="icons.faTrash">
                        </fa-icon>
                        Delete your score history
                    </button>
                </div>
            </div>
            <div class="scores-stats">
                <div class="info">
                    <h4>Games played:</h4>
                    <p>{{user.gamesPlayed}}</p>
                </div>
                <div class="info">
                    <h4>Average score:</h4>
                    <p>{{user.averageScore}} in {{ (user.averageTime ?? 0) | timeFormat }} minutes</p>
                </div>
                <div class="info">
                    <h4>Your progress chart:</h4>
                </div>
                @if(scoreChart$ | async; as scoreChart) {
                    <app-linear-chart
                        [dates]="scoreChart.gameDates"
                        [scores]="scoreChart.guessedCountries">
                    </app-linear-chart>
                }
            </div>
        </div>
    </div>
}
